<%= form_for(@compensation) do |f| %>
  <% if @compensation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@compensation.errors.count, "error") %> prohibited this compensation from being saved:</h2>

      <ul>
      <% @compensation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :employee_id %><br>
    <%= f.collection_select :employee_id , @employees, :id, :id  %>
  </div>
  <div class="field">
    <%= f.label :kind %><br>
    <%= f.text_field :kind %>
  </div>
  <div class="field">
    <%= f.label :amount %><br>
    <%= f.text_field :amount %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
